:root {
    --bg: #121320;
    --bg-card: #221e3a;
    --img-color: #c092d7;
    --txt-color: #fdfefc;
    --txt-light: #a057cc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: var(--bg);
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: var(--bg-card);
    max-height: 50vh;
    width: 55%;
    display: flex;
    color: var(--txt-color);
    border-radius: 10px;
}

.card-info {
    flex: 1;
}

.card-img {
    flex: 1;
    background: var(--img-color);
    border-radius: 0 10px 10px 0;
}

.card-img img {
    border-radius: 0 10px 10px 0;
    max-width: 100%;
    display: block;
    mix-blend-mode: luminosity;
    -webkit-filter: grayscale(100%) contrast(50%);
    filter: grayscale(100%) contrast(50%);
    opacity: 1;
}

.title {
    font-size: 1.5rem;
}

.title h1 {
    margin-left: 3rem;
    margin-top: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
}

.txt-highlight {
    font-weight: 900;
    color: var(--txt-light);
}

.description {
    font-size: 0.85rem;
}

.description p {
    margin-left: 3rem;
    margin-right: 9.5rem;
    margin-bottom: 3rem;
}

.counters {
    display: flex;
    margin-left: 3rem;
    margin-top: 5rem;
}

.counter{
    margin-right: 5rem;
}

.counter small {
    text-transform: uppercase;
}